img {
    image-orientation: from-image;
}

body {
    font-family: sans-serif;
}

#assets {
    position: absolute;
    top: 250px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: scroll;
}

.asset {
    /*border: 1px black solid;*/
    /*padding: 5px;*/
    margin-bottom: 5px;
}

#bottom-navigation {
    position: absolute;
    bottom: 10px;
}
