<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="date" type="java.lang.String"*/-->
<head>
    <title>Gallery</title>
    <script>
        /** @type {string} */
        const dateArgument = "[[${date}]]"
    </script>
    <script src="/js-joda/js-joda.js"></script>
    <script src="/scripts/gallery/gallery.js"></script>
    <link rel="stylesheet" href="/scripts/gallery/gallery.css">
</head>
<body>
<h1>Gallery</h1>
<p id="date-paragraph"></p>
<p id="info-paragraph"></p>
<p>
    <button id="start"><<</button>
    <button id="back"><<</button>
    <button id="forward">>></button>
    <button id="end"><<</button>
</p>
<div id="assets"></div>
<p>
    <button id="bottom-start"><<</button>
    <button id="bottom-back"><<</button>
    <button id="bottom-forward">>></button>
    <button id="bottom-end"><<</button>
</p>
</body>
</html>
